<html>
  <head>
    <title>Sample Python Flask Application</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
         </td>
        <td>
          <h1>Sample Python Flask Application</h1>

        </td>
      </tr>
    </table>

    <p>My name is Wiktoria</p>
    <p>I am third year Computer Science student</p>
    <p>I am from Poland</p>
    <p>I have been living in Ireland for over 4 years now</p>
    <p>Welcome to my Flask Application!</p>

  </body>
</html>
